@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Quicksand:wght@500;700&display=swap');

* {
    &, &::before, &::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}

@font-face {
    font-family: suprema;
    src: url(./suprema/Suprema\ Bold.ttf);
}

// @include
@mixin pxToRem($fontsize) {
    font-size: $fontsize/16 * 1rem;
}

// @extend
$width-container: (100 - (90px * 100 / 1476px)) * 1%;
.container {
    width: $width-container;
    margin: 0 auto;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    width: 100%
}

.main-container {
    @extend .container;
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: 15% 85%;
    height: 100vh;
    background: linear-gradient(121.32deg, #FFFFFF 10.96%, #FFFFFF 72%, #FFFFFF 99.98%);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 59px;
    padding: 10px;
}

// ------------------------------------------------- side bar

.side-bar {
    height: inherit;

    display: grid;
    grid-template-rows: 15% 85%;

    &__main {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    &__link {
        list-style-type: none;
    }
}



