@media screen and (max-width: 1350px), (max-height: 900px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px), (max-height: 900px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 1235px), (max-height: 800px) {
    html {
        font-size: 10px;
    }

    // .main__goals-items {
    //     height: 50%;
    // }
}

// @media screen and (min-width: 1500px), (min-height: 1000px) {
//     html {
//         font-size: 18px;
//     }
// }