@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Quicksand:wght@500;700&display=swap");

* {
  &,
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

@font-face {
  font-family: suprema;
  src: url(../fonts/suprema/Suprema\ Bold.ttf), url(../fonts/suprema/Suprema\ Regular.ttf);
}

// @include
@mixin pxToRem($fontsize) {
  font-size: ($fontsize/16 * 1rem)-0.3rem;
}

// @extend
$width-container: (100 - (90px * 100 / 1476px)) * 1%;
$yellow: #ffc145;

.container {
  width: $width-container;
  margin: 0 auto;
}

.title {
  font-family: suprema;
  font-style: normal;
  font-weight: 600;
  @include pxToRem(20.1118);
  line-height: 25px;
  color: #404040;
  padding-bottom: 0.3rem;
}

.btn {
  background: #ffc145;
  border-radius: 13.617px;
  padding: 0.2rem 0.4rem;
  border: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  @include pxToRem(13);
  color: #404040;
  
  &:hover {
    cursor: pointer;
  }
}
//---------

.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.main-container {
  @extend .container;
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  column-gap: 30px;
  height: 100vh;
  background: linear-gradient(121.32deg, #ffffff 10.96%, #ffffff 72%, #ffffff 99.98%);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 59px;
  padding: 0 40px;
}

.padding {
  padding: 0.4rem 0.7rem;
}

// ------------------------------------------------- side bar

.side-bar {
  height: inherit;

  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 96% 2%;
  row-gap: 10px;
  padding-bottom: 30px;
  justify-items: center;

  &__logo {
    grid-row: 1/2;
    align-self: center;
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    align-items: center;
    position: relative;
    column-gap: 5px;

    & img:nth-of-type(1) {
      justify-self: start;
    }

    & img:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 25px;
    }

    & p {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      @include pxToRem(16.7475);
      line-height: 21px;
      color: #0f4264;
      justify-self: start;
    }
  }
  & hr {
    border: 1px solid #f8f8f8;
    grid-row: 1/2;
    height: inherit;
    border-radius: 5px;
    background: #ebebeb;
    margin-left: 15px;
  }
  &__main {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  &__link {
    list-style-type: none;
    display: grid;
    grid-template-columns: 15% auto;
    padding: 0.5rem 0;
    column-gap: 6px;
    padding-left: 10px;
    border-radius: 4px;
    & img {
      justify-self: center;
      color: #3391d0;
      &:hover {
        cursor: pointer;
        color: #197bbd;
      }
    }
    & a {
      justify-self: start;
      font-family: "Lato";
      font-weight: 700;
      @include pxToRem(14);
      line-height: 17px;
      color: #C7C7C7;
      text-decoration: none;
      
      &:hover {
        color: #197bbd;
      }
    }
    
    &:hover {
      background: #F0F7FF;
    }
  }

  &__bottom {
    align-self: end;
    justify-self: start;
    display: grid;
    justify-items: center;
    row-gap: 5px;
    height: auto;

    & p {
      font-family: suprema;
      font-style: normal;
      font-weight: 400;
      @include pxToRem(10.7511);
      line-height: 11px;
      text-align: center;
      color: #404040;
    }
  }

  &__button {
    @extend .btn;
    @include pxToRem(12.5);
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    column-gap: 5px;
    align-items: center;
    padding: 0.8rem 0.6rem;
    height: 100%;
  
    
    
    & img {
      align-self: center;
      justify-self: end;
    }
  }
}

// ------------------------------------------------------------ hr
// ------------------------------------------------------ main top user

.main {
  height: inherit;
  display: grid;
  grid-template-rows: 10% 90%;
  row-gap: 10px;

  &__top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-self: center;
  }

  &__title {
    font-family: suprema;
    font-style: normal;
    font-weight: 600;
    @include pxToRem(30.3726);
    line-height: 40px;
    color: #404040;
  }

  &__subtitle {
    font-family: suprema;
    font-style: normal;
    font-weight: 400;
    @include pxToRem(14.0564);
    color: #aeaeae;
    padding-bottom: 5px;
  }

  &__user {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: end;

    & img {
      width: 18px;
      height: 14px;
      &:hover {
        cursor: pointer;
      }
    }

    & img:nth-of-type(2) {
      width: 18.5px;
      height: 18.5px;
    }

    &-profile {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 5px;
      align-items: center;
      & img {
        background-color: $yellow;
        border-radius: 20px;
        width: 30px;
        height: 30px;
      }
    }

    &-text p:nth-of-type(1),
    p:nth-of-type(2) {
      font-family: suprema;
      font-style: normal;
      font-weight: 600;
      @include pxToRem(14);
      line-height: 12px;
      color: #404040;
    }

    &-text p:nth-of-type(2) {
      font-weight: 400;
      color: #aeaeae;
    }
  }

  // ------------------- cards
  &__cards {
    @extend .padding;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    height: 100%;

    &-info {
      display: grid;
      grid-template-columns: 1.7fr auto 1fr;
      column-gap: 20px;
      height: 100%;
      

      & hr {
        border: 1px solid #e8e8e8;
        background-color: #e8e8e8;
        height: 75%;
        width: 100%;
      }
    }

    &-limit {
      align-self: end;
    }

    &-swiper {
      background: linear-gradient(180deg, #197bbd 0%, #3391d0 100%);
      border-radius: 26px;
      display: grid;
      // grid-template-columns: 0.1fr 0.8fr 0.1fr;
      align-items: center;
      padding: 10px;
      height: 110%;
      width: 90%;
      justify-self: center;
      position: relative;
    }

    &-left {
      position: absolute;
      left: -20px;
    }

    &-main {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      align-items: center;
      height: 100%;
    }

    &-right {
      position: absolute;
      right: -20px;
    }

    &-left,
    &-right {
      &:hover {
        cursor: pointer;
      }
    }

    &-type {
      & p:nth-of-type(1) {
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 700;
        @include pxToRem(16);
        color: #ffffff;
      }

      & p:nth-of-type(2) {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        @include pxToRem(14);
        color: rgba(255, 255, 255, 0.39);
      }
    }

    &-number {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      font-family: "Quicksand";
      font-style: normal;
      font-weight: 500;
      @include pxToRem(21);
      color: #ffffff;
    }

    &-expire {
      display: grid;
      grid-template-columns: 0.5fr 1fr;

      & div p:nth-of-type(1) {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        @include pxToRem(13);
        color: #ffffff;
      }

      & div p:nth-of-type(2) {
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        @include pxToRem(16);
        color: #ffffff;
      }
    }

    &-card {
      display: grid;
      align-self: center;
      height: 100%;
    }

    &-title {
      @extend .title;
    }
    &-progress {
      width: 100%;
      background: #f1f1f1;
      height: 10px;
      border-radius: 13.617px;
      margin-bottom: 0.2rem;
    }

    &-progressin {
      background-color: #197bbd;
      border-radius: 10.7766px;
      width: 20%;
      height: 100%;
    }

    &-balance {
      display: grid;
      align-items: end;
      justify-items: end;
      align-content: space-between;
      text-align: end;
    }

    &-text {
      display: grid;
      grid-template-columns: 1fr 1fr;

      & p:nth-of-type(1) {
        font-family: suprema;
        font-style: normal;
        font-weight: 400;
        @include pxToRem(12);
        line-height: 17px;
        color: #aeaeae;
      }

      & p:nth-of-type(2) {
        justify-self: end;
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        @include pxToRem(14);
        line-height: 17px;
        color: #404040;
      }
    }

    &-current:nth-of-type(1) {
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      @include pxToRem(32);
      line-height: 22px;
      color: #197bbd;
    }

    &-income,
    &-outcome {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      @include pxToRem(22);
      line-height: 22px;
      color: #439a86;
    }

    &-p {
      font-family: suprema;
      font-style: normal;
      font-weight: 400;
      @include pxToRem(16);
      line-height: 17px;
      color: #aeaeae;
      // padding-top: 7px;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      visibility: hidden;
      display: none;
    }

    &-switcher p {
      font-family: suprema;
      font-style: normal;
      font-weight: 400;
      @include pxToRem(14);
      line-height: 17px;
      color: #aeaeae;
    }

    .check {
      display: block;
      position: relative;
      width: 40px;
      height: 20px;
      background-color: #ebebeb;
      cursor: pointer;
      border-radius: 20px;
      overflow: hidden;
      transform: ease-in-out 0.5s;

      &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        background: #cdcdcd;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        transition: 0.5s;
      }
    }

    input[type="checkbox"]:checked ~ .check {
      background-color: #197bbd;
      box-shadow: 0 0 0 100% #ebebeb;
    }

    input[type="checkbox"]:checked ~ .check:before {
      transform: translateX(120%);
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    column-gap: 10px;
    min-height: 100%;
    height: 100%;
    padding-bottom: 30px;
    position: relative;
  }

  &__left-content {
    display: grid;
    grid-template-rows: auto auto;
    // min-height: 100%;
    max-height: 100%;
    row-gap: 15px;
    height: 100%;
    // align-content: space-between;
  }

  // ------------------------ transactions history
  .for-transactions {
    font-family: suprema;
    font-style: normal;
    font-weight: 400;
    @include pxToRem(14);
    line-height: 17px;
    color: #c7c7c7;
  }

  &__history-title {
    @extend .title;
  }

  &__history {
    background: #ffffff;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 19.0044px;
    @extend .padding;
    height: auto;
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;

    &-stats {
      display: grid;
      row-gap: 0.6rem;
      grid-template-rows: repeat(5, 1fr);
      align-items: center;
    }

    &-stats div:nth-of-type(1) {
      border-bottom: none;
      padding-bottom: 0px;
      align-self: end;
    }

    &-titles {
      display: grid;
      grid-template-columns: 1.3fr 1fr 1fr 0.8fr;
      column-gap: 10px;
      border-bottom: 0.5px solid #ececec;
      padding-bottom: 0.3rem;
      align-items: center;

      & p {
        @extend .for-transactions;
      }
    }

    .amount {
      color: #404040 !important;
    }

    &-type,
    &-date,
    &-amount {
      @extend .for-transactions;
    }

    &-reciever {
      display: grid;
      grid-template-columns: 0.2fr 1fr;
      column-gap: 5px;
      align-items: center;

      & p {
        @extend .for-transactions;
        color: #404040 !important;
      }
    }

    &-icon {
      background: #f1f1f1;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 10px;
        height: 10px;
      }
    }
  }
  // ------------------------------------- main__right-content

  &__right-content {
    max-height: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.4fr 0.4fr 0.2fr;
    align-content: space-between;
    row-gap: 15px;
  }

  &__goals {
    @extend .padding;
    display: grid;
    grid-template-rows: 0.2fr auto;

    &-top {
      display: grid;
      grid-template-columns: 0.11fr 1fr;
      column-gap: 5px;
      align-items: center;
      padding-bottom: 10px;
    }

    &-title {
      @extend .title;
      padding-bottom: 0;
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
      height: auto;
      align-items: center;
     
    }
    
    &-arrow {
      position: absolute;
      right: -15px;
    }

    &-item {
      background: #ffffff;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 28px;
      padding-left: 20px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      // align-content: space-between;
      align-items: center;
      row-gap: 15px;
      height: 100%;
      padding: 10px;
    }
    
    &-arrow {
      align-self: center;
      &:hover {
        cursor: pointer;
      }
    }

    &-price {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      @include pxToRem(19);
      color: #696969;
    }

    &-date {
      font-family: suprema;
      font-style: normal;
      font-weight: 400;
      @include pxToRem(14);
      line-height: 17px;
      color: #aeaeae;
    }

    &-name {
      font-family: suprema;
      font-style: normal;
      font-weight: 400;
      @include pxToRem(17);
      color: #404040;
    }
  }

  &__outcome {
    @extend .padding;
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;

    &-title {
      @extend .title;
      align-self: center;
    }

    &-shopping {
      display: grid;
      grid-template-columns: 0.05fr 1fr;
      align-items: center;
      column-gap: 10px;

      & .percentage {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        @include pxToRem(20);
        // line-height: 29px;
        color: #696969;
        align-self: start;
      }
    }
  
    
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ddf9e4;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 3px;
      width: 25px;
      height: 25px;

      & img {
        width: 16px;
        height: 16px;
      }
    }
    
    .image-one {
      background: #FFEADA;
    }
    
    .image-two {
      background: #DDF9E4;

    }
    
    .image-three {
      background: #E4F0FF;
    }

    &-items {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      height: auto;
    }
  

    &-progress {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 0.1fr;
      align-items: center;
      column-gap: 10px;
      height: 80%;

      & p:nth-of-type(1) {
        font-family: suprema;
        font-style: normal;
        font-weight: 400;
        @include pxToRem(14);
        line-height: 17px;
        color: #aeaeae;
        grid-row: 2/2;
      }
    }

    &-progressline {
      background: #f1f1f1;
      border-radius: 13.617px;
      height: 10px;
      align-self: center;
    }

    &-progressin {
      background: linear-gradient(270deg, #fcae73 0%, #f79042 99.18%);
      border-radius: 10.7766px;
      height: 100%;

      &.first {
        width: 52%;
      }

      &.second {
        width: 21%;
      }

      &.third {
        width: 74%;
      }
    }
  }
  // ------------------------------ new transaction
  &__transaction {
    display: grid;
    grid-template-columns: 2.7fr 1fr;
    column-gap: 10px;

    &-title {
      @extend .title;
    }

    &-right {
      height: 100%;
      width: 100%;
      background: #ed4c5c;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
      border-radius: 19.0044px;
    }

    &-left {
      display: grid;
      grid-template-rows: 0.2fr 0.8fr;
      background: #ffffff;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 19.0044px;
      @extend .padding;
    }

    &-main {
      display: grid;
      grid-template-rows: 1.4fr 1fr;
      row-gap: 5px;
    }

    &-users {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 5px;
      

      & div:nth-of-type(6) {
        row-gap: 0!important;

        & img {
          width: 25px;
          height: 25px;
          align-self: center;
        }
      }
    }

    &-user {
      display: grid;
      grid-template-rows: 0.8fr 0.2fr;
      justify-content: space-between;
      align-content: space-between;
      justify-items: center;
      align-items: center;
      justify-self: center;
      row-gap: 3px;

      & img {
        justify-self: center;
      }

      & p {
        font-family: suprema;
        font-style: normal;
        font-weight: 400;
        @include pxToRem(13);
        // line-height: 15px;
        color: #404040;
      }
    }

    &-transfer {
      display: grid;
      grid-template-columns: 1fr 0.7fr;
      column-gap: 5px;
      align-items: end;
      width: 100%;

      & input {
        background: #ffffff;
        border: 1px solid #197bbd;
        border-radius: 8px;
        height: 90%;
        padding: 0.7em;
        width: 100%;
        position: relative;

        &::placeholder {
          font-family: "Lato";
          font-style: normal;
          font-weight: 300;
          @include pxToRem(20.9789);
          color: #c7c7c7;
          vertical-align: middle; 
        }
      }
      
      & button {
        @extend .btn;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        align-items: center;
        // justify-self: end;
        width: 100%;
        
        & img {
          width: 7px;
          height: 7px;
          justify-self: end;
        }
      }
    }
    
    &-input {
      position: relative;
      
      &::after {
        content: "$";
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 8px;
        color: #C7C7C7;
      }
    }

    &-right {
      display: flex;
      padding: 10px;
      align-items: end;
      position: relative;
      overflow: hidden;

      & p {
        font-family: suprema;
        font-style: normal;
        font-weight: 600;
        @include pxToRem(19);
        // line-height: 25px;
        color: #ffffff;
      }

      & img {
        position: absolute;

        &:nth-of-type(1) {
          top: 5px;
          left: -10px;
          width: 80px;
          height: 50px;
        }

        &:nth-of-type(2) {
          top: 5px;
          right: 10px;
          width: 55px;
          height: 40px;
        }

        &:nth-of-type(3) {
          top: 35px;
          left: 60px;
        }

        &:nth-of-type(4) {
          top: 50px;
          left: 20px;
        }
      }
    }
  }
}
