@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Quicksand:wght@500;700&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: suprema;
  src: url(../suprema/Suprema\ Bold.ttf), url(../suprema/Suprema\ Regular.ttf);
}
.container, .main-container {
  width: 93.9024390244%;
  margin: 0 auto;
}

.title, .main__transaction-title, .main__outcome-title, .main__goals-title, .main__history-title, .main__cards-title {
  font-family: suprema;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9569875rem;
  line-height: 25px;
  color: #404040;
  padding-bottom: 0.3rem;
}

.btn, .main__transaction-transfer button, .side-bar__button {
  background: #ffc145;
  border-radius: 13.617px;
  padding: 0.2rem 0.4rem;
  border: none;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 0.5125rem;
  color: #404040;
}
.btn:hover, .main__transaction-transfer button:hover, .side-bar__button:hover {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  height: 100vh;
  background: linear-gradient(121.32deg, #ffffff 10.96%, #ffffff 72%, #ffffff 99.98%);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 59px;
  padding: 0 40px;
}

.padding, .main__transaction-left, .main__outcome, .main__goals, .main__history, .main__cards {
  padding: 0.4rem 0.7rem;
}

.side-bar {
  height: inherit;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 96% 2%;
  row-gap: 10px;
  padding-bottom: 30px;
  justify-items: center;
}
.side-bar__logo {
  grid-row: 1/2;
  align-self: center;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  align-items: center;
  position: relative;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.side-bar__logo img:nth-of-type(1) {
  justify-self: start;
}
.side-bar__logo img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 25px;
}
.side-bar__logo p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 0.74671875rem;
  line-height: 21px;
  color: #0f4264;
  justify-self: start;
}
.side-bar hr {
  border: 1px solid #f8f8f8;
  grid-row: 1/2;
  height: inherit;
  border-radius: 5px;
  background: #ebebeb;
  margin-left: 15px;
}
.side-bar__main {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.side-bar__link {
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% auto;
  padding: 0.5rem 0;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding-left: 10px;
}
.side-bar__link img {
  justify-self: center;
}
.side-bar__link a {
  justify-self: start;
  font-family: "Lato";
  font-weight: 700;
  font-size: 0.575rem;
  line-height: 17px;
  color: #197bbd;
  text-decoration: none;
}
.side-bar__link.one {
  background: #F0F7FF;
  border-radius: 4px;
}
.side-bar__bottom {
  align-self: end;
  justify-self: start;
  display: grid;
  justify-items: center;
  row-gap: 5px;
  height: auto;
}
.side-bar__bottom p {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.37194375rem;
  line-height: 11px;
  text-align: center;
  color: #404040;
}
.side-bar__button {
  font-size: 0.48125rem;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  padding: 0.8rem 0.6rem;
  height: 100%;
}
.side-bar__button img {
  align-self: center;
  justify-self: end;
}

.main {
  height: inherit;
  display: grid;
  grid-template-rows: 10% 90%;
  row-gap: 10px;
}
.main__top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-self: center;
}
.main__title {
  font-family: suprema;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5982875rem;
  line-height: 40px;
  color: #404040;
}
.main__subtitle {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.578525rem;
  color: #aeaeae;
  padding-bottom: 5px;
}
.main__user {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-self: end;
}
.main__user img {
  width: 18px;
  height: 14px;
}
.main__user img:hover {
  cursor: pointer;
}
.main__user img:nth-of-type(2) {
  width: 18.5px;
  height: 18.5px;
}
.main__user-profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
.main__user-profile img {
  background-color: #ffc145;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}
.main__user-text p:nth-of-type(1),
.main__user p:nth-of-type(2) {
  font-family: suprema;
  font-style: normal;
  font-weight: 600;
  font-size: 0.575rem;
  line-height: 12px;
  color: #404040;
}
.main__user-text p:nth-of-type(2) {
  font-weight: 400;
  color: #aeaeae;
}
.main__cards {
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  height: 100%;
}
.main__cards-info {
  display: grid;
  grid-template-columns: 1.7fr auto 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 100%;
}
.main__cards-info hr {
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  height: 75%;
  width: 100%;
}
.main__cards-limit {
  align-self: end;
}
.main__cards-swiper {
  background: linear-gradient(180deg, #197bbd 0%, #3391d0 100%);
  border-radius: 26px;
  display: grid;
  align-items: center;
  padding: 10px;
  height: 110%;
  width: 90%;
  justify-self: center;
  position: relative;
}
.main__cards-left {
  position: absolute;
  left: -20px;
}
.main__cards-main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  height: 100%;
}
.main__cards-right {
  position: absolute;
  right: -20px;
}
.main__cards-left:hover, .main__cards-right:hover {
  cursor: pointer;
}
.main__cards-type p:nth-of-type(1) {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 0.7rem;
  color: #ffffff;
}
.main__cards-type p:nth-of-type(2) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 0.575rem;
  color: rgba(255, 255, 255, 0.39);
}
.main__cards-number {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 1.0125rem;
  color: #ffffff;
}
.main__cards-expire {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.main__cards-expire div p:nth-of-type(1) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 0.5125rem;
  color: #ffffff;
}
.main__cards-expire div p:nth-of-type(2) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 0.7rem;
  color: #ffffff;
}
.main__cards-card {
  display: grid;
  align-self: center;
  height: 100%;
}
.main__cards-progress {
  width: 100%;
  background: #f1f1f1;
  height: 10px;
  border-radius: 13.617px;
  margin-bottom: 0.2rem;
}
.main__cards-progressin {
  background-color: #197bbd;
  border-radius: 10.7766px;
  width: 20%;
  height: 100%;
}
.main__cards-balance {
  display: grid;
  align-items: end;
  justify-items: end;
  align-content: space-between;
  text-align: end;
}
.main__cards-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__cards-text p:nth-of-type(1) {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.45rem;
  line-height: 17px;
  color: #aeaeae;
}
.main__cards-text p:nth-of-type(2) {
  justify-self: end;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 0.575rem;
  line-height: 17px;
  color: #404040;
}
.main__cards-current:nth-of-type(1) {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 22px;
  color: #197bbd;
}
.main__cards-income, .main__cards-outcome {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 1.075rem;
  line-height: 22px;
  color: #439a86;
}
.main__cards-p {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 17px;
  color: #aeaeae;
}
.main__cards input[type=checkbox] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
.main__cards-switcher p {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.575rem;
  line-height: 17px;
  color: #aeaeae;
}
.main__cards .check {
  display: block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ebebeb;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transform: ease-in-out 0.5s;
}
.main__cards .check:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #cdcdcd;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}
.main__cards input[type=checkbox]:checked ~ .check {
  background-color: #197bbd;
  box-shadow: 0 0 0 100% #ebebeb;
}
.main__cards input[type=checkbox]:checked ~ .check:before {
  transform: translateX(120%);
}
.main__content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  min-height: 100%;
  height: 100%;
  padding-bottom: 30px;
  position: relative;
}
.main__left-content {
  display: grid;
  grid-template-rows: auto auto;
  max-height: 100%;
  row-gap: 15px;
  height: 100%;
}
.main .for-transactions, .main .main__history-reciever p, .main__history-reciever .main p, .main .main__history-type, .main .main__history-date, .main .main__history-amount, .main .main__history-titles p, .main__history-titles .main p {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.575rem;
  line-height: 17px;
  color: #c7c7c7;
}
.main__history {
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 19.0044px;
  height: auto;
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
}
.main__history-stats {
  display: grid;
  row-gap: 0.6rem;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
}
.main__history-stats div:nth-of-type(1) {
  border-bottom: none;
  padding-bottom: 0px;
  align-self: end;
}
.main__history-titles {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 0.8fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-bottom: 0.5px solid #ececec;
  padding-bottom: 0.3rem;
  align-items: center;
}
.main__history .amount {
  color: #404040 !important;
}
.main__history-reciever {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
.main__history-reciever p {
  color: #404040 !important;
}
.main__history-icon {
  background: #f1f1f1;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__history-icon img {
  width: 10px;
  height: 10px;
}
.main__right-content {
  max-height: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.4fr 0.4fr 0.2fr;
  align-content: space-between;
  row-gap: 15px;
}
.main__goals {
  display: grid;
  grid-template-rows: 0.2fr auto;
}
.main__goals-top {
  display: grid;
  grid-template-columns: 0.11fr 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  padding-bottom: 10px;
}
.main__goals-title {
  padding-bottom: 0;
}
.main__goals-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  height: auto;
  align-items: center;
}
.main__goals-arrow {
  position: absolute;
  right: -15px;
}
.main__goals-item {
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  row-gap: 15px;
  height: 100%;
  padding: 10px;
}
.main__goals-arrow {
  align-self: center;
}
.main__goals-arrow:hover {
  cursor: pointer;
}
.main__goals-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8875rem;
  color: #696969;
}
.main__goals-date {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.575rem;
  line-height: 17px;
  color: #aeaeae;
}
.main__goals-name {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7625rem;
  color: #404040;
}
.main__outcome {
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
}
.main__outcome-title {
  align-self: center;
}
.main__outcome-shopping {
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main__outcome-shopping .percentage {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 0.95rem;
  color: #696969;
  align-self: start;
}
.main__outcome-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddf9e4;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  width: 25px;
  height: 25px;
}
.main__outcome-image img {
  width: 16px;
  height: 16px;
}
.main__outcome .image-one {
  background: #FFEADA;
}
.main__outcome .image-two {
  background: #DDF9E4;
}
.main__outcome .image-three {
  background: #E4F0FF;
}
.main__outcome-items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  height: auto;
}
.main__outcome-progress {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 0.1fr;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  height: 80%;
}
.main__outcome-progress p:nth-of-type(1) {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.575rem;
  line-height: 17px;
  color: #aeaeae;
  grid-row: 2/2;
}
.main__outcome-progressline {
  background: #f1f1f1;
  border-radius: 13.617px;
  height: 10px;
  align-self: center;
}
.main__outcome-progressin {
  background: linear-gradient(270deg, #fcae73 0%, #f79042 99.18%);
  border-radius: 10.7766px;
  height: 100%;
}
.main__outcome-progressin.first {
  width: 52%;
}
.main__outcome-progressin.second {
  width: 21%;
}
.main__outcome-progressin.third {
  width: 74%;
}
.main__transaction {
  display: grid;
  grid-template-columns: 2.7fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main__transaction-right {
  height: 100%;
  width: 100%;
  background: #ed4c5c;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-radius: 19.0044px;
}
.main__transaction-left {
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 19.0044px;
}
.main__transaction-main {
  display: grid;
  grid-template-rows: 1.4fr 1fr;
  row-gap: 5px;
}
.main__transaction-users {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.main__transaction-users div:nth-of-type(6) {
  row-gap: 0 !important;
}
.main__transaction-users div:nth-of-type(6) img {
  width: 25px;
  height: 25px;
  align-self: center;
}
.main__transaction-user {
  display: grid;
  grid-template-rows: 0.8fr 0.2fr;
  justify-content: space-between;
  align-content: space-between;
  justify-items: center;
  align-items: center;
  justify-self: center;
  row-gap: 3px;
}
.main__transaction-user img {
  justify-self: center;
}
.main__transaction-user p {
  font-family: suprema;
  font-style: normal;
  font-weight: 400;
  font-size: 0.5125rem;
  color: #404040;
}
.main__transaction-transfer {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: end;
  width: 100%;
}
.main__transaction-transfer input {
  background: #ffffff;
  border: 1px solid #197bbd;
  border-radius: 8px;
  height: 90%;
  padding: 0.7em;
  width: 100%;
  position: relative;
}
.main__transaction-transfer input::-moz-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 1.01118125rem;
  color: #c7c7c7;
  vertical-align: middle;
}
.main__transaction-transfer input:-ms-input-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 1.01118125rem;
  color: #c7c7c7;
  vertical-align: middle;
}
.main__transaction-transfer input::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 1.01118125rem;
  color: #c7c7c7;
  vertical-align: middle;
}
.main__transaction-transfer button {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  align-items: center;
  width: 100%;
}
.main__transaction-transfer button img {
  width: 7px;
  height: 7px;
  justify-self: end;
}
.main__transaction-input {
  position: relative;
}
.main__transaction-input::after {
  content: "$";
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 8px;
  color: #C7C7C7;
}
.main__transaction-right {
  display: flex;
  padding: 10px;
  align-items: end;
  position: relative;
  overflow: hidden;
}
.main__transaction-right p {
  font-family: suprema;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8875rem;
  color: #ffffff;
}
.main__transaction-right img {
  position: absolute;
}
.main__transaction-right img:nth-of-type(1) {
  top: 5px;
  left: -10px;
  width: 80px;
  height: 50px;
}
.main__transaction-right img:nth-of-type(2) {
  top: 5px;
  right: 10px;
  width: 55px;
  height: 40px;
}
.main__transaction-right img:nth-of-type(3) {
  top: 35px;
  left: 60px;
}
.main__transaction-right img:nth-of-type(4) {
  top: 50px;
  left: 20px;
}/*# sourceMappingURL=style.css.map */